.navlist li{
    margin:0em 0.2em;
    padding:0.8em 0.5em;
    font-size: 0.8em;
    letter-spacing: 0.05em; 
}
.navlist li:hover{
    border-radius: 0.4em;
}
.row_2 h2{
    font-size: 2.3em;
    letter-spacing: 0.08em
}
.row_2 h5{
    font-size: 0.9em;
    letter-spacing: 0.1em
}
.paragraph_1{
    width:80%;
    font-size: 1em;
    line-height: 1.4em
}
.top{
    padding:0.6em 1em;
    font-size: 1em;
    color: white;
    letter-spacing: 0.08em;
    border-radius: 0.4em;
}
.row_3 h2, .row_4 h2, .row_5 h2{
    font-size: 2.5em;
}
.row_3 h5, .row_4 h5, .row_5 h5{
    font-size: 0.9em;
    letter-spacing: 0.08em
}
.card_1 h3{
    font-size: 1.1em;
}
.card_1 p {
    font-size: 0.9em;
    width: 90%;
}
.bottom{
    padding:0.8em 0.3em;
    font-size: 0.7em;
    letter-spacing: 0.07em;
    border-radius: 0.4em;
}
form input, textarea{
    padding:1.5em 20em 1.5em 1em;
    border-radius: 0.4em;
    font-size: 0.9em;
}
textarea{
    padding-bottom: 15em
}
.send{
    padding:1.1em 0.9em;
    font-size: 0.8em;
    letter-spacing: 0.09em;
    border-radius: 0.4em;
}
.navContact li{
    padding: 0em 0.6em
}
footer{
    font-size: 0.8em;
}